{% if cell == col.trueLabel %}
    <span class="font-medium text-emerald-400/90">{{ cell }}</span>
{% elseif cell == col.falseLabel %}
    <span class="text-zinc-600 dark:text-zinc-400">{{ cell }}</span>
{% else %}
    <span class="text-zinc-950 dark:text-zinc-500">{{ cell }}</span>
{% endif %}
